@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

#mainH {
  font-family: 'Orbitron', sans-serif;

  font-weight: 400;
}

#main2 {
  font-family: 'Orbitron', sans-serif;

  font-weight: 400;
}

.main2 {
  font-family: 'Orbitron', sans-serif;

  font-weight: 400;
}