 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
 }

 /* Hide scrollbar by default */
 body::-webkit-scrollbar {
   width: 0;
   transition: width 0.3s;
 }

 /* Show scrollbar on body hover */
 body:hover::-webkit-scrollbar {
   width: 0px;
 }

 /* Optional: track and thumb styling */
 body::-webkit-scrollbar-track {
   background: transparent;
 }

 body::-webkit-scrollbar-thumb {
   background-color: black;
   border-radius: 10px;
 }

 @keyframes fadeInUp {
   from {
     opacity: 0;
     transform: translateY(30px);
   }

   to {
     opacity: 1;
     transform: translateY(0);
   }
 }

 .animate-fadeInUp {
   animation: fadeInUp 1s ease-out forwards;
 }

 .animate-fadeInUp:nth-child(2) {
   animation-delay: 0.2s;
   opacity: 0;
 }

 .animate-fadeInUp:nth-child(3) {
   animation-delay: 0.4s;
   opacity: 0;
 }

 .animate-fadeInUp:nth-child(4) {
   animation-delay: 0.6s;
   opacity: 0;
 }

 @keyframes spin-slow {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 .animate-spin-slow {
   animation: spin-slow 8s linear infinite;
 }

 @media (max-width: 1023px) {
   .order-1 {
     order: 1;
   }

   .order-2 {
     order: 2;
   }
 }